body {
    text-align: center;
    background-image: url("../images/add.jpg");
    background-size: cover;
     background-attachment: fixed;

}

h1{
   color: white;
   font-size: 80px;
}
h4{
    text-align: left;
}
.table{
	color: white;
	width:300px;
}