
body{
    /* The image used */
   /* background-image:M1.jpg;

     Full height 
    height: 100%;*/
    background-color: #4FE89F;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arbutus Slab', serif;
    

}


h1{
	text-align: center;
}

p{
	text-align: center;
}

.container{
	padding-top: 100px;
	padding-left: 100px;
  size: 50px 50px;
  text-align: center;

}
button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}