.topnav {
  overflow: hidden;
  background-color: #062815;
}

.topnav a {
  float: right;
  display: block;
  color: #C81600 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}






/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li {
    float: right;
    display: inline;
}

li a {
    font-size: 16px;
    color: white;
    text-align: right;
    padding: 8px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: transparent;
}
*/


body{


    background-color:#3ECF8E;
    
font-family: 'Vollkorn', serif;

     
}

h1{
	text-align: center;
   font-size: 45px;
}

p{
	text-align: center;
}
.col-md-8{

}
.container{
	margin:50px 150px 10px 150px;
  text-align: center;
  font-size: 15px;




}
button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.hello{

  padding-top: 10px;
  padding-left: 0px;

}
.card {
 width:1050px;
}

