<nav class="navbar navbar-expand-lg navbar-light navbar navbar-transparent">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="task/" style="color:white;"><strong>Home</strong> <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/signout/" style="color:white;"><strong>signout</strong></a>
                    <a class="nav-item nav-link" href="/profile/" style="color:white;"><strong>Profile</strong></a>
                    <a class="nav-item nav-link" href="/logout/" style="color:white;"><strong>Logout</strong></a>
                    <button type="button"  data-toggle="modal" data-target="#skills">
                            About
                            </button>
                </div>
            </div>