{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Att Track</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar navbar-transparent">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="home/" style="color:white;"><strong>Home</strong> <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/plan_list/" style="color:white;"><strong>Plan</strong></a>
                    <a class="nav-item nav-link" href="/profile/" style="color:white;"><strong>Profile</strong></a>
                    <a class="nav-item nav-link" href="/logout/" style="color:white;"><strong>Logout</strong></a>
                    <button type="button"  data-toggle="modal" data-target="#skills">
                            About
                            </button>
                </div>
            </div>
    <div class="one">
      {% if not user.is_authenticated %}
        <a href="/signin/">Signin</a>&nbsp;&nbsp;
        <a href="/signup/">Signup</a>&nbsp;&nbsp;
      {% else %}
        <a href="/signout/">Signout</a>&nbsp;&nbsp;
      {% endif %}
    </div>
    <div class="jumbotron text-center">
      <h1>ATTRACK</h1>
      <p>Student friendly webapp!</p>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </div>
    </div>
  </body>
</html>
{# <!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    
    <a href="/add/">Add Subject</a>
    <a href="/update/">Update Attendance</a>
  </body>
</html> #}