<h1>Enter subject details</h1>
<form action="/cal/" method="POST">
    {% csrf_token %}
    Enter Subject 1: 
    <input type="text" name="sub1" placeholder="Subject 1"></input>
    Total classes
    <input type="text" name="tot1" placeholder="total classes"></input><br><br>
    Enter Subject 2: 
    <input type="text" name="sub2" placeholder="Subject 2"></input>
    Total classes
    <input type="text" name="tot2" placeholder="total classes"></input><br><br>
    Enter Subject 3: 
    <input type="text" name="sub3" placeholder="Subject 3"></input>
    Total classes
    <input type="text" name="tot3" placeholder="total classes"></input><br><br>
    Enter Subject 4: 
    <input type="text" name="sub4" placeholder="Subject 4"></input>
    Total classes
    <input type="text" name="tot4" placeholder="total classes"></input><br><br>
    Enter Subject 5: 
    <input type="text" name="sub5" placeholder="Subject 5"></input>
    Total classes
    <input type="text" name="tot5" placeholder="total classes"></input><br><br>
    Enter Subject 6: 
    <input type="text" name="sub6" placeholder="Subject 6"></input>
    Total classes
    <input type="text" name="tot6" placeholder="total classes"></input><br><br>
    Attendance criteria
    <input type="text" name="att" placeholder="attendance criteria"></input><br><br>
    <input type="submit" value="Done"></input>
</form>