{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Subject_List</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static "css/task.css" %}">
</head>
<body>
  <br><br>
	<div class="container">
  <h2>TASKS</h2>
  <br><br>
   <div style="display:flex">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{% static "images/att.png" %}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">ATTENDANCE TRACKER</h4>
      <p class="card-text">Track your attendance and avoid shortage.</p>
      <a href="/attend/" class="btn btn-primary">KNOW MORE</a>
    </div>
  </div>
  
  
 
    
   <div class="card" style="width:400px">
    <img class="card-img-top" src="{% static "images/s.png" %}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">SGPA CALCULATOR</h4>
      <p class="card-text">  It  is  a  measure  of 
academic  performance  of  student/s  in  a  semester.  It is  the ratio  of  total  credit  points  secured  by  a  student  in  various courses registered in a semester and the total course credits 2 taken during that semester. It shall be expressed up to two decimal places. </p>
      <p>Here is a calculator to calculate your SGPA and also find your percentage.</p>
      <a href="/sgpa/" class="btn btn-primary">CALCULATE</a>
    </div>
  </div>

   <div class="card" style="width:400px">
    <img class="card-img-top"src="{% static "images/c3.png" %}"  alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CGPA CALCULATOR</h4>
      <p class="card-text"> It is a measure of 
overall  cumulativeperformance  of  a  student  over  all semesters. The CGPA is the ratio of total credit po
ints earned by a student in various courses in all semesters and the sum 
of  the  total  credits  of  all  courses  in  all the  semesters.  It  is expressed up to two decimal places. </p>
      <p>Here is a calculator to calculate your CGPA and also find your percentage.</p>
      <a href="/cgpa/" class="btn btn-primary">CALCULATE</a>
    </div>
  </div>
  </div>

</body>
</html>